# Dependencies
node_modules/
__pycache__/
*.py[cod]
*$py.class

# Python virtual environment
venv/
env/

# Environment variables
.env
.env.local

# Build files
.next/
build/
dist/

# Database
*.sqlite3
*.db
*.sql

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Misc
*.pyc
*~
.~lock.*
